<!DOCTYPE html>

{% load  static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'vent/css/bootstrap.min.css' %}">
    <!-- Favicons -->
<link href="{% static 'img/favicon.png' %}" rel="icon">
<link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{% static 'vent/css/aos.css' %}" rel="stylesheet">
<link href="{% static 'vent/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vent/css/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'vent/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'vent/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'vent/css/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'vent/css/style.css' %}" rel="stylesheet">

<link rel="stylesheet" href="{% static 'vent/css/fontawsome_all.css' %}">



<link href="../../../static/vent/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%   static 'vent/css/style_css.css' %}">


</head>
<body>
{%  include 'meuble/partiel/header.html'%}

{% block content %}

<!--#header debut-->



{% endblock %}



<!--header fin-->

<!-- Vendor JS Files -->
  <script src="{% static 'vent/js/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vent/js/aos.js' %}"></script>
  <script src="{% static 'vent/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vent/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vent/js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vent/js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'vent/js/typed.umd.js' %}"></script>
  <script src="{% static 'vent/js/noframework.waypoints.js' %}"></script>
  <script src="{% static 'vent/js/validate.js' %}"></script>
  <script src="{% static 'vent/js/fontawsome_all.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'vent/js/main.js' %}"></script>
  <script src="{% static 'vent/js/bootstrap.js' %}"></script>
    <script src="{% static 'vent/js/app.js' %}"></script>
</body>
</html>
